.editor-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.textarea-container {
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 100%;

}

#editor {
  
  box-sizing: border-box;
  border: 0.5rem dashed gray;
  border-radius: 2rem;
  border-image: linear-gradient(lightgray 10%, darkgray 20%, black) 1;
  display: block;
  height: 45vh;
  margin: 0;
  padding: 1rem;
  width: 100%;
  outline: none;
  resize: both;
}


@media (min-width: 755px) {
  #editor {
    height: 100%;
  }
}